<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quotes APP</title>
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}" />
  </head>
  <body>
    <main class="container">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/" role="button">Home</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="section">
        {% block header %} {% endblock %} {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="{{message.tags}}">{{message|safe}}</li>
          {% endfor %}
        </ul>
        {% endif %} {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
